$primary-color: #037bc0;
$gray-color: #e1e1e1;
$white-color: #fff;


html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 REM = 10px */
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0 0 3rem 0;
}

h1 {
    font-size: 4rem;

    @media (min-width: 768px) { 
        font-size: 5rem;
    }
}


h2 {
    font-size: 3.2rem;

    @media (min-width: 768px) { 
        font-size: 4rem;
    }
}


h3 {
    font-size: 2.4rem;

    @media (min-width: 768px) { 
        font-size: 3rem;
    }
}


a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 100%;

    &:hover {
        background-color: #81ac01;
        cursor: pointer;
    }

    @media (min-width: 768px) { 
        .btn {
            width: auto;
        }
    }
}

/* Utilidades */

.text-center {
    text-align: center;
}
@media (min-width: 768px) { 
    .max-whidth-30 {
        max-width: 30rem;
    }
}